@font-face {
  font-family: "iconfont"; /* Project id 2872255 */
  src: url('iconfont.woff2?t=1634372235035') format('woff2'),
       url('iconfont.woff?t=1634372235035') format('woff'),
       url('iconfont.ttf?t=1634372235035') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e7a0";
}

.icon-delete:before {
  content: "\e810";
}

